<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Buscar Cliente</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-700 min-h-screen flex items-center justify-center p-6">

<div class="w-full max-w-md">

    <h1 class="text-4xl font-extrabold text-white text-center mb-10 drop-shadow-lg">
        Atualizar Cliente
    </h1>

    <div class="bg-gray-200 rounded-2xl shadow-xl p-8 mb-6">
        <h2 class="text-gray-800 font-bold text-2xl mb-4">Digite o CPF do Cliente</h2>
        <input type="text" id="cpf" name="cpf" placeholder="somente números"
               class="border border-gray-400 rounded-lg px-4 py-2 w-full mb-4 focus:outline-none focus:ring-2 focus:ring-sky-700 shadow-sm text-gray-800">

        <button type="button"
                onclick="window.location.href='/clients/find-client/update/' + document.getElementById('cpf').value"
                class="w-full bg-sky-900 text-white font-semibold px-4 py-2 rounded-lg shadow hover:bg-sky-950 transition">
            Buscar & Atualizar
        </button>
    </div>

    <div th:if="${error != null}"
         class="mb-6 p-4 rounded-lg bg-red-100 border border-red-400 text-red-700 text-center font-semibold shadow">
        <span th:text="${error}"></span>
    </div>

</div>

</body>
</html>