<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - Hotel Itaipu</title>
    <meta charset="UTF-8"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-700 min-h-screen flex items-center flex-col justify-between">
<div class="bg-gray-200 rounded-lg shadow-lg p-8 w-full">
    <h1 class="text-sky-900 font-bold text-5xl text-center mb-6">Bem Vindo ao Sistema Hotel Itaipu</h1>
    <div>
        <h2 class="block text-gray-700 font-bold text-3xl mb-1">Administrar Clientes</h2>
        <div class="flex flex-col space-y-2 w-60">
            <a th:href="@{/clients/new}"
               class="px-4 py-2 bg-sky-900 text-white rounded hover:bg-sky-950 transition">
                Cadastro de Clientes</a>

            <a th:href="@{/clients/list}"
               class="px-4 py-2 bg-sky-900 text-white rounded hover:bg-sky-950 transition">
                Clientes cadastrados</a>

            <a class="px-4 py-2 bg-sky-900 text-white rounded hover:bg-sky-950 transition">
                Histórico de Clientes</a>

            <a th:href="@{/clients/find-client}"
                class="px-4 py-2 bg-sky-900 text-white rounded hover:bg-sky-950 transition">Atualizar Info. de Cliente</a>
        </div>

    </div>

</div>
<footer class="w-full text-center py-4 bg-gray-800">
    <h4 class="text-white font-semibold text-lg">Nos siga nas redes sociais</h4>
    <br>
    <a href="https://www.google.com" target="_blank" rel="noopener noreferrer"
       class="text-white font-semibold px-4 py-2 bg-gradient-to-bl from-rose-950 via-red-800 to-blue-900 rounded hover:bg-pink-700 transition">
        Instagram</a>
</footer>
</body>
</html>